<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quick Quiz - Play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}" />
  </head>
  <body>
    <div class="container">
      <div id="loader"></div>
      <div id="lobby" class="flex-center flex-column hidden">
        <h2>Waiting for Players...</h2>
        <h2 id="lobbyRoomCode"></h2>
        <div id="qrcode" style="margin: 2rem 0;"></div>
        <h3>Players Joined:</h3>
        <ul id="playerList" style="list-style: none; font-size: 2rem; margin-bottom: 2rem; text-align: center;"></ul>
        <button id="startGameBtn" class="btn hidden">Start Game</button>
        <h3 id="waitingMessage" class="hidden">Waiting for host to start...</h3>
      </div>
      <div id="game" class="justify-center flex-column hidden">
        <div id="hud">
          <div id="hud-item">
            <p id="progressText" class="hud-prefix">
              Question
            </p>
            <div id="progressBar">
              <div id="progressBarFull"></div>
            </div>
          </div>
          <div id="hud-item">
            <p class="hud-prefix">
              Score
            </p>
            <h1 class="hud-main-text" id="score">
              0
            </h1>
          </div>
        </div>
        <h2 id="question"></h2>
        <div class="choice-container">
          <p class="choice-prefix">A</p>
          <p class="choice-text" data-number="1"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">B</p>
          <p class="choice-text" data-number="2"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">C</p>
          <p class="choice-text" data-number="3"></p>
        </div>
        <div class="choice-container">
          <p class="choice-prefix">D</p>
          <p class="choice-text" data-number="4"></p>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
  </body>
</html>
